<!DOCTYPE html>
<head>
    <% include layout.ejs %>
</head>
<body>
<div class="alert alert-scarlet" role="alert">
    공지사항을 확인하세요!
  </div>
  <div class="navbar navbar-success" role="alert">
   <p class="text-muted">판매물품관리</p></p>
   </div>
   <div class="container">

     <% for(var i in info){%>
       <hr>
   	<li onclick="location.href='../information/<%=info[i]._id%>'" style='cursor:pointer; width:100%; height:20%; margin:10px'>
      <img src=../<%= info[i].ImagePath %> style='max-width:10%; max-height:10%;'>
      <span class="title"><%=info[i].title%></span>
      <span class="datetime" style="float:right;">남은시간</span>
    </li>
   	<%}%>

    </div>
  </div>
  </body>
  </html>

  </body>
  </html>
